<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.realhl">

    <!-- Permisos para acceder a la ubicación -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:theme="@style/Theme.RealHL"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher">
        <!-- Agrega la API key de Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAGg6-pLyEGSfUANMbt7ZZ-f6q-dCiUoAc" />
        <!-- LoginActivity como actividad principal -->
        <activity android:name=".MainActivity"
            android:exported="true"> <!-- Agregado android:exported -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- MapsActivity para mostrar Google Maps -->
        <activity android:name=".MapsActivity"
            android:exported="true"/> <!-- Agregado android:exported -->

    </application>

</manifest>
